@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,700&display=swap');

:root {
  /* colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --darker-cyan: hsl(179, 100%, 13%);
  --transparent: hsla(0, 0%, 100%, 0.75);
  --light-grey: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-optical-sizing: auto;
  min-height: 100vh;
  background-color: var(--light-grey);

  display: flex;
  flex-direction: column;
}

h1 {
    font-family: "Big Shoulders", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-optical-sizing: auto;
}

.attribution {
    font-size: .8rem;
    margin: 1rem;
    text-align: center;
}

main {
    margin: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    

    @media screen and (min-width: 768px) {
        margin: auto 4rem;
        display: flex;
    }

    @media screen and (min-width: 860px) {
        max-width: 60%;
        margin: auto;
    }



    &>div {
        padding: 2.5rem;

        h1 {
            font-size: 250%;
            color: var(--light-grey);
            margin: 1.5rem 0;
        }

        p {
            color: var(--transparent);
            margin-bottom: 4rem;
        }

        &:first-child {
            --theme-color: var(--bright-orange);
            background-color: var(--theme-color);

            button {
                color: var(--theme-color);
            }
        }

        &:nth-child(2) {
            --theme-color: var(--dark-cyan);
            background-color: var(--theme-color);

            button {
                color: var(--theme-color);
            }
        }

        &:last-child {
            --theme-color: var(--darker-cyan);
            background-color: var(--theme-color);

            button {
                color: var(--theme-color);
            }
        }

        button {
            border: 2px solid transparent;
            cursor: pointer;
            color: var(--transparent);
            border-radius: 1000px;
            padding: .8rem 2rem;
            font-family: "Lexend Deca", sans-serif;
            text-transform: capitalize;
            transition: all .3s ease-in-out;
            background: var(--light-grey);

            &:hover {
                background-color: transparent;
                border-color: var(--light-grey);
                color: var(--light-grey);
            }
        }
    }
}