@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz@10..72&family=Manrope:wght@200..800&display=swap");

@layer variables {
  :root {
    --color-vd-blue: hsl(217, 19%, 35%);
    --color-dd-blue: hsl(214, 17%, 51%);
    --color-grayish-blue: hsl(212, 23%, 69%);
    --color-light-gray-blue: hsl(210, 22%, 96%);
    --font-family: "Manrope", sans-serif;
  }
}

@layer reset {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}

@layer defaults {
  body {
    font-size: 13px;
    font-family: var(--font-family);
    font-weight: 400;
    font-style: normal;
    color: var(--color-vd-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--color-light-gray-blue);
  }

  p {
    font-size: 0.8rem;
    line-height: 1.5;
    color: var(--color-dd-blue);
  }

  h3 {
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.4;
    color: var(--color-vd-blue);
  }
}

@layer preview-card {
  .preview-card {
    margin: 1.5rem;
    border-radius: 0.8rem;
    overflow: hidden;
    box-shadow: 0 2px 46px var(--color-grayish-blue);

    img {
      width: 100%;
      height: auto;
    }

    @media (width >=600px) {
      display: flex;
      justify-content: center;
      max-width: 800px;

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    main > div:first-child {
      padding: 2rem;
      background-color: #fff;
    }

      footer {
        --icon-size: 1.8rem;
        padding: 2rem;
        background-color: var(--color-vd-blue);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 2rem;

        .author {
          display: flex;
          align-items: center;
          gap: 0.5rem;

          .date {
            font-size: 0.75rem;
            color: var(--color-grayish-blue);
          }

          img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
          }
        }

        .share {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .icon-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            padding: 8px;
            border-radius: 50%;
            width: var(--icon-size);
            height: var(--icon-size);
            background-color: var(--color-light-gray-blue);
          }

          .social-icons {
            display: none;

            img {
              width: var(--icon-size);
              height: var(--icon-size);
            }
          }
        }
      }
  }
}

@layer utilities {
    .show {
        display: flex;
    }

    .hide {
        display: none;
    }
}